@model AisMKIT.Models.ListOfCinematographyCertificates

@{
    ViewData["Title"] = "Create";
}

<h1>Добавление</h1>

<h4>Cертификаты к фильмам</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="NameKyrg" />
            <input type="hidden" asp-for="ApplicationUserId" />
            <input type="hidden" name="CountriesRegisersJson" id="CountriesAndRegisers" />

            <div class="form-group">
                <label asp-for="NameRus" class="control-label"></label>
                <input asp-for="NameRus" class="form-control" />
                <span asp-validation-for="NameRus" class="text-danger"></span>
            </div>


            <div class="row">
                <div class="ml-3 mr-2">
                    <label class="control-label">Страна</label>
                </div>
                <div class="">
                    <span onclick="addSelectList('countries');" class="btn-sm btn-secondary">+</span>
                </div>
            </div>
            <div id="countries" class="form-group">
                <select class="form-control" asp-items="ViewBag.DictCountryId"></select>
            </div>

            <div class="row">
                <div class="ml-3 mr-2">
                    <label class="control-label">Режиссёр</label>
                </div>
                <div class="">
                    <span onclick="addSelectList('regisers');" class="btn-sm btn-secondary">+</span>
                </div>
            </div>
            <div id="regisers" class="form-group">
                <select class="form-control" asp-items="ViewBag.DictCinemaRegiserId"></select>
            </div>


            @*<button onclick="" class="btn btn-secondary">+</button>
        <div class="form-group">
            <label asp-for="DictCountryId" class="control-label"></label>
            <select asp-for="DictCountryId" class="form-control" asp-items="ViewBag.DictCountryId"></select>
        </div>

        <button onclick="" class="btn btn-secondary">+</button>
        <div class="form-group">
            <label asp-for="DictCinemaRegiserId" class="control-label"></label>
            <select asp-for="DictCinemaRegiserId" class="form-control" asp-items="ViewBag.DictCinemaRegiserId"></select>
        </div>*@


            <div class="form-group">
                <label asp-for="Years" class="control-label"></label>
                <input asp-for="Years" class="form-control" />
                <span asp-validation-for="Years" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictCinemaDurationId" class="control-label"></label>
                <select asp-for="DictCinemaDurationId" class="form-control" asp-items="ViewBag.DictCinemaDurationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DictCinemaAgeRestrictionsId" class="control-label"></label>
                <select asp-for="DictCinemaAgeRestrictionsId" class="form-control" asp-items="ViewBag.DictCinemaAgeRestrictionsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="btn btn-primary" onclick="initInputJSON()">Добавить</span>

                <input type="submit" id="sendFormBtn" value="Добавить" class="btn btn-primary" hidden />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

<script src="~/js/site.js"></script>



@*<script type="text/javascript">


    function initInputJSON() {

        // get object
        var jsObj = getJsObj();

        // to json
        var json = JSON.stringify(jsObj);

        // init input
        document.querySelector('#CountriesAndRegisers').value = json;

        // send form
        document.querySelector('#sendFormBtn').click();
    }

    // Get values of selected options
    function getJsObj() {

        // это js-Объект будет отправлен на сервер как JSON
        var countriesAndRegisers = { 'countries': [], 'regisers': [] };

        // all ids of selectLists
        var ids = ["countries", "regisers"];

        // перебор каждого id
        for (var i = 0; i < ids.length; i++) {

            //console.log(ids[i]);

            var selects = document.querySelectorAll("#" + ids[i] + " > select");

            // перебор каждого selectList
            for (var j = 0; j < selects.length; j++) {

                var options = selects[j].options;

                // перебор каждого option
                for (var t = 0; t < options.length; t++) {

                    //console.log(options[t].selected);

                    if (options[t].selected) {

                        // value - числа
                        var val = options[t].value / 1;

                        if (ids[i] == "countries") {
                            countriesAndRegisers.countries.push(val);
                        }

                        if (ids[i] == "regisers") {
                            countriesAndRegisers.regisers.push(val);
                        }

                    }

                }

            }
        }

        return countriesAndRegisers;

    }

    function addSelectList(id) {

        var itm = document.querySelectorAll("#" + id + " > select")[0];
        var cln = itm.cloneNode(true);

        var br = document.createElement("br");
        document.getElementById(id).appendChild(br);
        document.getElementById(id).appendChild(cln);
    }


</script>*@