@model AisMKIT.Models.DictAwardsReason

@{
    ViewData["Title"] = "Причины награждения";
}

<h4>Редактирование</h4>

<h4>Причины награждения</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreateDate" />
                <input type="hidden" asp-for="NameKyrg" />
                 
                <div class="form-group">
                    <label asp-for="NameRus" class="control-label"></label>
                    <input asp-for="NameRus" class="form-control" />
                    <span asp-validation-for="NameRus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictStatusId" class="control-label"></label>
                    <select asp-for="DictStatusId" class="form-control" asp-items="ViewBag.DictStatusId"></select>
                    <span asp-validation-for="DictStatusId" class="text-danger"></span>
                </div>
                 
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
</div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
