@model AisMKIT.Models.ListOfCinematography

@{
    ViewData["Title"] = "Реестр субъектов киномотографии";
}

<h4>Редактирование</h4>

<h4>Реестр субъектов киномотографии</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreateDate" />
                <input type="hidden" asp-for="NameKyrg" />
                <div class="form-group">
                    <label asp-for="NameRus" class="control-label"></label>
                    <input asp-for="NameRus" class="form-control" />
                    <span asp-validation-for="NameRus" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="NameKyrg" class="control-label"></label>
            <input asp-for="NameKyrg" class="form-control" />
            <span asp-validation-for="NameKyrg" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="DictLegalFormId" class="control-label"></label>
                    <select asp-for="DictLegalFormId" class="form-control" asp-items="ViewBag.DictLegalFormId"></select>
                    <span asp-validation-for="DictLegalFormId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="INN" class="control-label"></label>
                    <input asp-for="INN" class="form-control" />
                    <span asp-validation-for="INN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastNameDirector" class="control-label"></label>
                    <input asp-for="LastNameDirector" class="form-control" />
                    <span asp-validation-for="LastNameDirector" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstNameDirector" class="control-label"></label>
                    <input asp-for="FirstNameDirector" class="form-control" />
                    <span asp-validation-for="FirstNameDirector" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatronicNameDirector" class="control-label"></label>
                    <input asp-for="PatronicNameDirector" class="form-control" />
                    <span asp-validation-for="PatronicNameDirector" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictFinSourceId" class="control-label"></label>
                    <select asp-for="DictFinSourceId" class="form-control" asp-items="ViewBag.DictFinSourceId"></select>
                    <span asp-validation-for="DictFinSourceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictDistrictId" class="control-label"></label>
                    <select asp-for="DictDistrictId" class="form-control" asp-items="ViewBag.DictDistrictId"></select>
                    <span asp-validation-for="DictDistrictId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LegalAddress" class="control-label"></label>
                    <input asp-for="LegalAddress" class="form-control" />
                    <span asp-validation-for="LegalAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FactDistrictId" class="control-label"></label>
                    @*<input asp-for="FactDistrictId" class="form-control" />*@
                    <select asp-for="FactDistrictId" class="form-control" asp-items="ViewBag.FactDistrictId"></select>
                    <span asp-validation-for="FactDistrictId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LegalFactAddress" class="control-label"></label>
                    <input asp-for="LegalFactAddress" class="form-control" />
                    <span asp-validation-for="LegalFactAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <input asp-for="RegistrationDate" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReregistrationDate" class="control-label"></label>
                    <input asp-for="ReregistrationDate" class="form-control" />
                    <span asp-validation-for="ReregistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeactiveDate" class="control-label"></label>
                    <input asp-for="DeactiveDate" class="form-control" />
                    <span asp-validation-for="DeactiveDate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="CreateDate" class="control-label"></label>
            <input asp-for="CreateDate" class="form-control" />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" name="SubmitButton" value="Сохранить" class="btn btn-primary" />
                <input type="submit" name="SubmitButton" value="Перерегистрировать" class="btn btn-primary" />
            </div>
            </form>
</div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
