
@{
    ViewData["Title"] = "Департамент информации и массовых коммуникаций";
}

<h3>Департамент информации и массовых коммуникаций</h3>
<hr />
<br />
<div class="container">

    <div class="btn">
        <a asp-area="Media" asp-controller="ListOfMedias" asp-action="Index">Реестр средств массовой информации</a>
    </div>

    <div class="btn">
        <a asp-area="Media" asp-controller="ListOfControlMedias" asp-action="Index">Проверки СМИ и вынесенные решения</a>
    </div>

    <br />
    <br />



</div>