
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Реестр библиотек</h2>

<table class="table">
    <tr>
        <td>
            <form asp-controller="ListOfLibraryIndicators" asp-action="Index">
                <input type="submit" value="Основные показатели работы общедоступных библиотек" class="btn btn-primary" />
            </form>
        </td>
    </tr>
</table>
<p></p>