
@{
    ViewData["Title"] = "Index";
}


    <div class="btn">
        <a  asp-controller="ListOfRentsHistories" asp-action="Index">Предоставление объектов</a>
    </div>
    <div class="btn">
        <a  asp-controller="ListOfRents" asp-action="Index">Список объектов</a>
    </div>
    

