@model AisMKIT.Models.DictInitiatorOfProj

        @{
        ViewData["Title"] = "Подробности";
        }
        
        <h1>Подробности</h1>
        
<div>
    <h4>Инициатор проекта мероприятий</h4>
    <hr />
    <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
    </dl>
</div>
<div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
            <a asp-action="Index">Назад</a>
</div>
