@model AisMKIT.Models.TourismIndicator

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TourismIndicator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GDP" class="control-label"></label>
                <input asp-for="GDP" class="form-control" />
                <span asp-validation-for="GDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InTurist" class="control-label"></label>
                <input asp-for="InTurist" class="form-control" />
                <span asp-validation-for="InTurist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutTurist" class="control-label"></label>
                <input asp-for="OutTurist" class="form-control" />
                <span asp-validation-for="OutTurist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeOfServicesForExport" class="control-label"></label>
                <input asp-for="VolumeOfServicesForExport" class="form-control" />
                <span asp-validation-for="VolumeOfServicesForExport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeOfServicesForImport" class="control-label"></label>
                <input asp-for="VolumeOfServicesForImport" class="form-control" />
                <span asp-validation-for="VolumeOfServicesForImport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummOfInvestFromBudget" class="control-label"></label>
                <input asp-for="SummOfInvestFromBudget" class="form-control" />
                <span asp-validation-for="SummOfInvestFromBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummOfPrivateDomesticInvest" class="control-label"></label>
                <input asp-for="SummOfPrivateDomesticInvest" class="form-control" />
                <span asp-validation-for="SummOfPrivateDomesticInvest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummOfForeignInvest" class="control-label"></label>
                <input asp-for="SummOfForeignInvest" class="form-control" />
                <span asp-validation-for="SummOfForeignInvest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageMonthSalary" class="control-label"></label>
                <input asp-for="AverageMonthSalary" class="form-control" />
                <span asp-validation-for="AverageMonthSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
