@model AisMKIT.Models.ListOfMedia

@{
    ViewData["Title"] = "Реестр СМИ";
}

<h4>Редактирование</h4>

<h4>Реестр СМИ</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreateDate" />
                <input type="hidden" asp-for="NameKyrg" />
                <input type="hidden" asp-for="AddressKyrg" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <div class="form-group">
                    <label asp-for="NameRus" class="control-label"></label>
                    <input asp-for="NameRus" class="form-control" />
                    <span asp-validation-for="NameRus" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="NameKyrg" class="control-label"></label>
            <input asp-for="NameKyrg" class="form-control" />
            <span asp-validation-for="NameKyrg" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="DictLegalFormId" class="control-label"></label>
                    <select asp-for="DictLegalFormId" class="form-control" asp-items="ViewBag.DictLegalFormId"></select>
                    <span asp-validation-for="DictLegalFormId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="INN" class="control-label"></label>
                    <input asp-for="INN" class="form-control" />
                    <span asp-validation-for="INN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <input asp-for="RegistrationDate" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Territoryy" class="control-label"></label>
                    <input asp-for="Territoryy" class="form-control" />
                    <span asp-validation-for="Territoryy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictMediaLangTypeId" class="control-label"></label>
                    <select asp-for="DictMediaLangTypeId" class="form-control" asp-items="ViewBag.DictMediaLangTypeId"></select>
                    <span asp-validation-for="DictMediaLangTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictMediaTypeId" class="control-label"></label>
                    <select asp-for="DictMediaTypeId" class="form-control" asp-items="ViewBag.DictMediaTypeId"></select>
                    <span asp-validation-for="DictMediaTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressRus" class="control-label"></label>
                    <input asp-for="AddressRus" class="form-control" />
                    <span asp-validation-for="AddressRus" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="AddressKyrg" class="control-label"></label>
            <input asp-for="AddressKyrg" class="form-control" />
            <span asp-validation-for="AddressKyrg" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="DictMediaFreqReleaseId" class="control-label"></label>
                    <select asp-for="DictMediaFreqReleaseId" class="form-control" asp-items="ViewBag.DictMediaFreqReleaseId"></select>
                    <span asp-validation-for="DictMediaFreqReleaseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DictFinSourceId" class="control-label"></label>
                    <select asp-for="DictFinSourceId" class="form-control" asp-items="ViewBag.DictFinSourceId"></select>
                    <span asp-validation-for="DictFinSourceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReregistrationDate" class="control-label"></label>
                    <input asp-for="ReregistrationDate" class="form-control" />
                    <span asp-validation-for="ReregistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EliminationDate" class="control-label"></label>
                    <input asp-for="EliminationDate" class="form-control" />
                    <span asp-validation-for="EliminationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" name="SubmitButton" value="Сохранить" class="btn btn-primary" />
                    <input type="submit" name="SubmitButton" value="Перерегистрация" class="btn btn-info" />
                </div>
            </form>
</div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
