<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Тунгуч</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand p-2 bg-light" asp-area="" asp-controller="Home" asp-action="Index">Тунгуч</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Справочники</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Департаменты</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Виды объектнов культурного наследия</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Виды услуг</a>
                    <a class="dropdown-item" asp-area="" asp-controller="ClUchZavedCategories" asp-action="Index">Категории учебных заведений</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Категории произведений культуры и искусства</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Виды произведений культуры и искусства</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Виды наград</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                </div>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Реестры</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="ListOfEducations" asp-action="Index">Реестр  учебных  заведений  </a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр библиотек республики</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр охраняемых объектов культурного наследия</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр объектов произведений культуры и искусства</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр подведомственных учреждений </a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр государственных и ведомственных наград</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Departments" asp-action="Index">Реестр выданных разрешений</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                </div>

            </li>*@

                        @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Пользователи</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Index">Роли</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="UserIndex">Пользователи</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>

            </li>*@

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="GlobalDicts" asp-controller="Main" asp-action="Index">Общие справочники</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="AdminPanel">Панель администрировния</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Тунгуч -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
