
@{
    ViewData["Title"] = "AdminPanel";
}

    <div class="row justify-content-center">

        <div class="btn">
            <a   asp-controller="Role" asp-action="UserIndex">Пользователи</a>
        </div>
        <div class="btn">
            <a asp-controller="Role" asp-action="Index">Роли</a>
        </div>
        <div class="btn">
            <a asp-controller="Departments" asp-action="Index">Подразделения</a>
        </div>
    </div>