@model List<string>
@{
    ViewData["Title"] = "АИС";
}

    <div class="row justify-content-center">

        @*<div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Action item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Success item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Secondary item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Info item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Warning item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Danger item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Primary item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Dark item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">Light item</a>
        </div>*@
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-success" asp-area="Media" asp-controller="ListOfMedias" asp-action="Index">Реестр средств массовой информации</a>
            <a  class="list-group-item list-group-item-action list-group-item-secondary" asp-area="Monuments" asp-controller="ListOfMonuments" asp-action="Index">Реестр памятников</a>
            <a class="list-group-item list-group-item-action list-group-item-info" asp-area="Cinematography" asp-controller="ListOfCinematographies" asp-action="Index">Реестр субъектов киномотографии</a>
            <a   class="list-group-item list-group-item-action list-group-item-warning" asp-area="Theatrical" asp-controller="ListOfTheatricals" asp-action="Index">Реестр театрально-зрелищных учреждений</a>
            <a   class="list-group-item list-group-item-action list-group-item-primary" asp-area="Theatrical" asp-controller="ListOfEduInstituts" asp-action="Index">Реестр учебных заведений</a>
            <a  class="list-group-item list-group-item-action list-group-item-dark" asp-area="Tourism" asp-controller="ListOfTourism" asp-action="Index">Реестр субъектов туризма</a>
            <a class="list-group-item list-group-item-action list-group-item-success" asp-area="Library" asp-controller="Main" asp-action="Index">Реестр библиотек</a>
      </div>

            @*<div class="btn">
            <a asp-area="Media" asp-controller="ListOfMedias" asp-action="Index">Реестр средств массовой информации</a>
        </div>
        <div class="btn">
            <a asp-area="Cinematography" asp-controller="ListOfCinematographies" asp-action="Index">Реестр субъектов киномотографии</a>
        </div>
        <div class="btn">
            <a asp-area="Theatrical" asp-controller="ListOfTheatricals" asp-action="Index">Реестр театрально-зрелищных учреждений</a>
        </div>
        <div class="btn">
            <a asp-area="Theatrical" asp-controller="ListOfEduInstituts" asp-action="Index">Реестр учебных заведений</a>
        </div>
        <div class="btn">
            <a asp-area="Tourism" asp-controller="ListOfTourism" asp-action="Index">Реестр субъектов туризма</a>
        </div>*@
        </div>

