@model AisMKIT.Models.ListOfTourismIndicator

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Индикатор туризма</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="ApplicationUserId" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GDP" class="control-label"></label>
                <input asp-for="GDP" class="form-control" />
                <span asp-validation-for="GDP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GrossValueAdded" class="control-label"></label>
                <input asp-for="GrossValueAdded" class="form-control" />
                <span asp-validation-for="GrossValueAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShareOfTourismInGDP" class="control-label"></label>
                <input asp-for="ShareOfTourismInGDP" class="form-control" />
                <span asp-validation-for="ShareOfTourismInGDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxRevenue" class="control-label"></label>
                <input asp-for="TaxRevenue" class="form-control" />
                <span asp-validation-for="TaxRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheNumCitizensfromNearAndFar" class="control-label"></label>
                <input asp-for="TheNumCitizensfromNearAndFar" class="form-control" />
                <span asp-validation-for="TheNumCitizensfromNearAndFar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCIS" class="control-label"></label>
                <input asp-for="FromCIS" class="form-control" />
                <span asp-validation-for="FromCIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromForeign" class="control-label"></label>
                <input asp-for="FromForeign" class="form-control" />
                <span asp-validation-for="FromForeign" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="InTurist" class="control-label"></label>
                <input asp-for="InTurist" class="form-control" />
                <span asp-validation-for="InTurist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutTurist" class="control-label"></label>
                <input asp-for="OutTurist" class="form-control" />
                <span asp-validation-for="OutTurist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeOfServicesForExport" class="control-label"></label>
                <input asp-for="VolumeOfServicesForExport" class="form-control" />
                <span asp-validation-for="VolumeOfServicesForExport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeOfServicesForImport" class="control-label"></label>
                <input asp-for="VolumeOfServicesForImport" class="form-control" />
                <span asp-validation-for="VolumeOfServicesForImport" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InvestmentsTourismSector" class="control-label"></label>
                <input asp-for="InvestmentsTourismSector" class="form-control" />
                <span asp-validation-for="InvestmentsTourismSector" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SummOfInvestFromBudget" class="control-label"></label>
                <input asp-for="SummOfInvestFromBudget" class="form-control" />
                <span asp-validation-for="SummOfInvestFromBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummOfPrivateDomesticInvest" class="control-label"></label>
                <input asp-for="SummOfPrivateDomesticInvest" class="form-control" />
                <span asp-validation-for="SummOfPrivateDomesticInvest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummOfForeignInvest" class="control-label"></label>
                <input asp-for="SummOfForeignInvest" class="form-control" />
                <span asp-validation-for="SummOfForeignInvest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageMonthSalary" class="control-label"></label>
                <input asp-for="AverageMonthSalary" class="form-control" />
                <span asp-validation-for="AverageMonthSalary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RevenuesFromTransportTourists" class="control-label"></label>
                <input asp-for="RevenuesFromTransportTourists" class="form-control" />
                <span asp-validation-for="RevenuesFromTransportTourists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourismTetailSales" class="control-label"></label>
                <input asp-for="TourismTetailSales" class="form-control" />
                <span asp-validation-for="TourismTetailSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurnoverPreparedFood" class="control-label"></label>
                <input asp-for="TurnoverPreparedFood" class="form-control" />
                <span asp-validation-for="TurnoverPreparedFood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelAgencyServices" class="control-label"></label>
                <input asp-for="TravelAgencyServices" class="form-control" />
                <span asp-validation-for="TravelAgencyServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SanatoriumResortActivities" class="control-label"></label>
                <input asp-for="SanatoriumResortActivities" class="form-control" />
                <span asp-validation-for="SanatoriumResortActivities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicesShortTermResidence" class="control-label"></label>
                <input asp-for="ServicesShortTermResidence" class="form-control" />
                <span asp-validation-for="ServicesShortTermResidence" class="text-danger"></span>
            </div>

            @*
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreateDate" />
        <input type="hidden" asp-for="ApplicationUserId" />
        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GDP" class="control-label"></label>
            <input asp-for="GDP" class="form-control" />
            <span asp-validation-for="GDP" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="InTurist" class="control-label"></label>
            <input asp-for="InTurist" class="form-control" />
            <span asp-validation-for="InTurist" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OutTurist" class="control-label"></label>
            <input asp-for="OutTurist" class="form-control" />
            <span asp-validation-for="OutTurist" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VolumeOfServicesForExport" class="control-label"></label>
            <input asp-for="VolumeOfServicesForExport" class="form-control" />
            <span asp-validation-for="VolumeOfServicesForExport" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VolumeOfServicesForImport" class="control-label"></label>
            <input asp-for="VolumeOfServicesForImport" class="form-control" />
            <span asp-validation-for="VolumeOfServicesForImport" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SummOfInvestFromBudget" class="control-label"></label>
            <input asp-for="SummOfInvestFromBudget" class="form-control" />
            <span asp-validation-for="SummOfInvestFromBudget" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SummOfPrivateDomesticInvest" class="control-label"></label>
            <input asp-for="SummOfPrivateDomesticInvest" class="form-control" />
            <span asp-validation-for="SummOfPrivateDomesticInvest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SummOfForeignInvest" class="control-label"></label>
            <input asp-for="SummOfForeignInvest" class="form-control" />
            <span asp-validation-for="SummOfForeignInvest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AverageMonthSalary" class="control-label"></label>
            <input asp-for="AverageMonthSalary" class="form-control" />
            <span asp-validation-for="AverageMonthSalary" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
